body{
    background-color: aliceblue;
    
}

nav{
    width: 100%;
    background-color: rgb(255, 255, 255);
    
}
nav h1{
    color: rgb(0, 0, 0);
}
nav h2{
    color: rgb(0, 0, 0);
}
nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
nav li{
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

nav img{
    width: 5%;
}
nav li a{
    width: 5%;
}
nav li a img{
    width: 100%;
}

.cardContainer{
    text-align: center;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(2,1fr);
}
.cardContainer .FilterProducts{
    text-align: center;
    border: solid;
    display: flex;
    flex-direction: row;
    padding: 0px 16px 16px;
}

.container{
    background-color: rgba(58, 176, 249, 0.304);
    width:100%;
 }
 .form-container{
     background-color:  rgba(85, 181, 240, 0.304);
     display: flex;
     flex-direction:row;
     justify-content: space-around;
     width: 100%;
 }
 form{
     background-color:  rgba(77, 172, 231, 0.304);
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     width: 100%;
     align-items: center;
     text-align: center;
 }
 form input{
    width: 80%;
 }

 .iconoAccount{
    width: 100%;
    text-align: center;
    border: solid;
 }
 .iconoLogin{ 
    width: 100%;
    text-align: center;
    border: solid;
}
.container-create{
    display: none;
    align-items: center;
    text-align: center;
}.container-in{
    display: none;
}
.button-icono{
    background-color: transparent;
    border: none;
    width: 20%;
    align-items: center;
    text-align: center;
}
.button-icono img{
    width: 100%;
}


.container-product{
    display: none;
}
.product-List{
    display: none;
    width: 50%;
}
.product-List img{
    width: 50%;
}
/* MyProduct */

.containerProducts{
    background-color: rgba(95, 175, 225, 0.656);
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.containerProducts article{
    border: solid;
    background-color: aliceblue;
    align-items: center;
    text-align: center;
    width: 100%;
}
.containerProducts article img{
    width: 80%;
}
.containerProducts article button{
    background-color: rgba(87, 87, 234, 0.857);
}

/* edit product */
.editProductList{
    display: none;
    width: 250px;
    overflow: hidden;
    border: solid 1px;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    background-color: black;
    padding: 15px;
    margin: 10px;
}